In [1]:
import pandas as pd

In [2]:
# Eligible est las liste fournie par les RH donnat les personnes éligibles au gift voucher
eligibles=pd.read_excel("employee-vouchers.xlsx", dtype={'Emp No': "str"})
eligibles["mail"]=eligibles["Emp Mail Id"]+"@infosys.com"
eligibles["mail"]=eligibles["mail"].str.lower()
# Construction de la colonne nom simple qui contient une concaténation du prénom et du nom en minuscule
eligibles["nomsimple"]=eligibles["Empname"].str.lower().str.replace("é","e").replace("è","e").replace("ì","i")
eligibles

,Emp No,Empname,Emp Mail Id,Commentaire,mail,nomsimple
0,4484,Raghu R. Hemmige,RAGHURHEMMIGE,NaN,raghurhemmige@infosys.com,raghu r. hemmige
1,15536,Antony Menacherry,Antony_Menacherry,NaN,antony_menacherry@infosys.com,antony menacherry
2,15958,Sachidananda Mohanty,Sachidananda_Mohanty,NaN,sachidananda_mohanty@infosys.com,sachidananda mohanty
3,17521,Ajit Venkatesh Kamath,Ajit_Kamath,NaN,ajit_kamath@infosys.com,ajit venkatesh kamath
4,19406,Shenbagarajan Dharmar,Shenbagarajan_d,NaN,shenbagarajan_d@infosys.com,shenbagarajan dharmar
...,...,...,...,...,...,...
437,1338805,Paul Gervais,paul.gervais,Ancien stagiaire - plus de 7 mois en 2023 en tout,paul.gervais@infosys.com,paul gervais
438,1338806,Roméo Malivert,romeo.malivert,Ancien stagiare - plus de 7 mois en 2023 en tout,romeo.malivert@infosys.com,romeo malivert
439,1338808,Céline Caillierez,celine.caillierez,Non éligible concernant expérience Infosys. A ...,celine.caillierez@infosys.com,celine caillierez
440,1339890,Arnau Garcia Cases,arnau.cases,Ancien stagiaire - plus de 7 mois en 2023 en tout,arnau.cases@infosys.com,arnau garcia cases
441,1341585,Farouk Akhoun,farouk.akhoun,Ancien stagiaire - plus de 7 mois en 2023 en tout,farouk.akhoun@infosys.com,farouk akhoun

In [16]:
#Users est pris d'un extract Comitéo. : Liste des utilisateurs actifs et désactivés (sans adresse)
users=pd.read_csv("userscomiteo.csv",sep=";", dtype={'Matricule': "str"})

subset = ['Mail', 'Mail 2',"Matricule"]
users.loc[:, subset] = users.loc[:, subset].fillna("")


users["mail"]=""
users=users[users["Etat du salarié"]=="Actif"]

#Construction de la colonne mail qui sera utilisée pour le rapprochement. Elle contiendra le mail qui contient infosys.com
for i, row in users.iterrows():
    if "@infosys.com" in row["Mail"]:
        users.loc[i,"mail"]=row["Mail"]
    elif "@infosys.com" in  row["Mail 2"]:
        users.loc[i,"mail"]=row["Mail 2"]
# Minuscule
users["mail"]=users["mail"].str.lower()
# Construction de la colonne nom simple qui contient une concaténation du prénom et du nom en minuscule
users["nomsimple"]=users["Prénom"]+" "+users["Nom"]
users["nomsimple"]=users["nomsimple"].str.lower()

users

,User ID,Matricule,Identifiant,Civilité,Nom,Prénom,Etat du salarié,Mail,Mail 2,Site,...,Statut salarié,Date de naissance,IBAN,BIC,RUM,Date du RUM,Date de dernière connexion,Date de création,mail,nomsimple
0,2354589,651953,kagarwal,M.,Agarwal,Krishan Kant,Actif,KrishanKant_A@infosys.com,krishankant_a@infosys.com,Toulouse,...,Cadolib_Noel_170 | Cadolib_Enfant_50 | Cadolib...,12/11/1984,NaN,NaN,NaN,NaN,24/11/2023,11/09/2018,krishankant_a@infosys.com,krishan kant agarwal
6,2354595,669947,kbangaru_shiva,M.,Bangaru,Shiva Krishna,Actif,shivakrishnabangaru@gmail.com,shivakrishna_b@infosys.com,Toulouse,...,Cadolib_Noel_170 | NA_2021_100 | Cadolib_Noel_...,NaN,NaN,NaN,NaN,NaN,19/10/2023,11/09/2018,shivakrishna_b@infosys.com,shiva krishna bangaru
7,2354596,620109,mbansal1,M.,Bansal,Mohit,Actif,Mohit_Bansal10@infosys.com,mohit_bansal10@infosys.com,Toulouse,...,Cadolib_Noel_170 | NA_2021_100 | Cadolib_Noel_...,NaN,NaN,NaN,NaN,NaN,05/10/2023,11/09/2018,mohit_bansal10@infosys.com,mohit bansal
8,2354597,194703,mbhaskar_chandra,M.,Bhaskar,Chandra Mohan,Actif,chandra_baskar@infosys.com,chandu.shine@gmail.com,Toulouse,...,Cadolib_NE_2021_30 | NA_2021_100 | Cadolib_Noe...,NaN,NaN,NaN,NaN,NaN,26/11/2023,11/09/2018,chandra_baskar@infosys.com,chandra mohan bhaskar
12,2354601,673542,vchakravaram_srikanth,M.,Srikanth Varma,CHAKRAVARAM,Actif,Srikanthvarma_Ch@infosys.com,ch.srikanthvarma@gmail.com,Toulouse,...,Cadolib_Noel_Adulte_22,NaN,NaN,NaN,NaN,NaN,01/11/2023,11/09/2018,srikanthvarma_ch@infosys.com,chakravaram srikanth varma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094,7109768,1181637,nitin.dhar,M.,Dhar,Nitin,Actif,nitin.dhar@infosys.com,,Angouleme,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20/10/2023,nitin.dhar@infosys.com,nitin dhar
1095,7109769,1229188,siddhartha.s12,M.,Basannagari Sreenivasa,Siddhartha,Actif,siddhartha.s12@infosys.com,,Paris,...,NaN,NaN,NaN,NaN,NaN,NaN,27/11/2023,20/10/2023,siddhartha.s12@infosys.com,siddhartha basannagari sreenivasa
1096,7109770,610517,Satish_Kumar18,M.,Kumar Thinagar,Satish,Actif,Satish_Kumar18@infosys.com,,Marseille,...,NaN,NaN,NaN,NaN,NaN,NaN,20/10/2023,20/10/2023,satish_kumar18@infosys.com,satish kumar thinagar
1097,7109771,744126,maheswaran.j,M.,Jmah,Maheswaran,Actif,maheswaran.j@infosys.com,,Paris,...,NaN,NaN,NaN,NaN,NaN,NaN,21/11/2023,20/10/2023,maheswaran.j@infosys.com,maheswaran jmah
1098,7109772,1339891,deepak.agarwal07,M.,Agarwal,Deepak,Actif,deepak.agarwal07@infosys.com,,Paris,...,NaN,NaN,NaN,NaN,NaN,NaN,27/11/2023,20/10/2023,deepak.agarwal07@infosys.com,deepak agarwal

In [25]:

from IPython.core.display import HTML
trouves=[]
nontrouves=[]

#Premier rapprochement sur l'email
for i,ligne in eligibles.iterrows():   
    if  len(users.loc[users["mail"]==ligne.mail])>0:
        #print ("Trouvé ")
        indextrouve=users.loc[users["mail"]==ligne.mail].Identifiant.index[0]
        #print( indextrouve)
        trouves.append(indextrouve)
    else:
        #print ("Non trouvé")
        nontrouves.append(i)

#Second rapprochement sur le matricule.
nontrouvesrestant=[]
for i,ligne in eligibles.loc[nontrouves].iterrows():   
    #print(ligne["Emp No"])
    if  len(users.loc[users["Matricule"]==ligne["Emp No"]])>0:
        #print ("Trouvé ")
        indextrouve=users.loc[users["Matricule"]==ligne["Emp No"]].index[0]
        #print( indextrouve)
        trouves.append(indextrouve)
    else:
        #print ("Non trouvé")
        nontrouvesrestant.append(i)

nontrouves=[]
for i,ligne in eligibles.loc[nontrouvesrestant].iterrows():   
    #print(ligne["Emp No"])
    if  len(users.loc[users["nomsimple"]==ligne["nomsimple"]])>0:
        print ("Trouvé ")
        indextrouve=users.loc[users["nomsimple"]==ligne["nomsimple"]].index[0]
        #print( indextrouve)
        trouves.append(indextrouve)
    else:
        #print ("Non trouvé")
        nontrouves.append(i)

    
eligibles.loc[nontrouves]  

users.loc[trouves,["Matricule","Identifiant"]].to_excel("users-chequecadeau.xlsx")

display(HTML("<h2>Employés non trouvés dans comitéo</h2>"))

eligibles.loc[nontrouves]

Trouvé
Trouvé

Empty DataFrame
Columns: [Emp No, Empname, Emp Mail Id, Commentaire, mail, nomsimple]
Index: []

In [32]:
#trouves not in users.index


indexusers = users.index.values.tolist()

usersersindexexclus = []
for element in indexusers:
    if element not in trouves:
        usersersindexexclus.append(element)
 
usersexclus=users.loc[usersersindexexclus]
usersexclus[~usersexclus["Statut salarié"].isna()]


usersexclus.to_excel("excluded-employees.xlsx")

In [153]:
from datetime import datetime
def  parsedate(x):
    try:
        return datetime.strptime(x, '%Y-%m-%d')
    except:
        return datetime.strptime(x, '%d-%m-%Y')
        
        
#dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d')

ayantsdroit=pd.read_csv("ayantdroit.csv",sep=";", dtype={'Matricule': "str"},parse_dates=["Date de naissance ayant droit"], date_parser=parsedate)
#ayantsdroit=pd.read_csv("ayantdroit.csv",sep=";", dtype={'Matricule': "str"},parse_dates=["Date de naissance ayant droit"], date_format="%Y-%m-%d")
ayantsdroit=ayantsdroit[ayantsdroit["Etat du salarié"]=="Actif"]
ayantsdroit=ayantsdroit[ayantsdroit["Type"]=="enfant"]

ayantsdroit=ayantsdroit[ayantsdroit["Date de naissance ayant droit"]>datetime.strptime('2007-12-15','%Y-%m-%d')]
ayantsdroit=ayantsdroit[ayantsdroit["Date de naissance ayant droit"]<datetime.strptime('2022-12-15','%Y-%m-%d')]
ayantsdroit
#ayantsdroit.info()

/tmp/ipykernel_240/279528107.py:11: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  ayantsdroit=pd.read_csv("ayantdroit.csv",sep=";", dtype={'Matricule': "str"},parse_dates=["Date de naissance ayant droit"], date_parser=parsedate)

,ID AD,Date de création,Matricule,Identifiant,Prénom,Nom,Etat du salarié,Mail,Site,Date,...,Prénom ayant droit,Nom ayant droit,Genre,Type,Statut ayant droit,Date de naissance ayant droit,Rattachement fiscal,Rattachement familiale,Etat,Status AD
1,2,17-06-2019,1048550,fkahn,Fabrice Pierre-Henri,Kahn,Actif,fabrice.kahn@infosys.com,Marseille,NaN,...,Leonard,KAHN,Garçon,enfant,NaN,2014-02-09,Oui,Oui,Validé,NaN
2,3,17-06-2019,1043179,cpillot,Christophe,Pillot,Actif,cpillot@gmail.com,Marseille,1977-05-06,...,Alexis,PILLOT,Garçon,enfant,NaN,2008-12-14,Oui,Oui,Validé,NaN
3,4,17-06-2019,1048550,fkahn,Fabrice Pierre-Henri,Kahn,Actif,fabrice.kahn@infosys.com,Marseille,NaN,...,Benjamin,KAHN,Garçon,enfant,NaN,2018-02-16,Oui,Oui,Validé,NaN
4,5,17-06-2019,1043179,cpillot,Christophe,Pillot,Actif,cpillot@gmail.com,Marseille,1977-05-06,...,Adélie,PILLOT,Fille,enfant,NaN,2011-09-16,Oui,Oui,Validé,NaN
14,15,14-10-2019,774315,kshah,Kartik,Shah,Actif,kartik.shah@infosys.com,Paris,1974-01-08,...,Aviraj,SHAH,Garçon,enfant,NaN,2019-09-18,Oui,Oui,Validé,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,495,31-10-2023,1338515,ewen.branellec,BRANELLEC,EWEN,Actif,ewen.branellec@infosys.com,Toulouse,1982-09-11,...,Mael,BRANELLEC,Garçon,enfant,NaN,2018-06-20,Oui,Oui,Non Validé,NaN
497,498,07-11-2023,605103,Sudeepta_Maji,Sudeepta,Maji,Actif,Sudeepta_Maji@infosys.com,Marseille,1977-01-02,...,RUDRAPRIYA,MAJI,Fille,enfant,NaN,2014-04-06,Oui,Oui,Non Validé,NaN
498,499,11-11-2023,1323670,delphine.besnier,DELPHINE,BESNIER,Actif,besnier_delphine@yahoo.fr,St Nazaire,1977-03-02,...,Inès,Barba,Fille,enfant,NaN,2015-10-20,Oui,Oui,Non Validé,NaN
500,501,16-11-2023,1338808,celine.caillierez,Céline,Caillierez,Actif,celine.caillierez@infosys.com,Toulouse,NaN,...,Emmy,HANS,Fille,enfant,NaN,2016-06-15,Oui,Oui,Non Validé,Supprimé
504,505,22-11-2023,1232602,sameer.tamatgar,Sameer,Tamatgar,Actif,sameer.tamatgar@infosys.com,Toulouse,NaN,...,Ayra,Tamatgar,Fille,enfant,NaN,2021-01-17,Non,Oui,Non Validé,NaN

In [31]:
#764202
eligibles[eligibles["Emp No"]=="764202"]

Empty DataFrame
Columns: [Emp No, Empname, Emp Mail Id, Commentaire, mail, nomsimple]
Index: []